/* General styles */
.form-group {
  margin-bottom: 10px;
  margin-left: 600px;
  width:450px;
  
}

label {
  display: inline-block;
  width: 120px;
  text-align: right;
  margin-left: 10px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 250px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

/* Submit button styling (optional) */
.button {
  text-align: center;
}

button[type="submit"] {
  background-color: #4CAF50; /* Green color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 0px;
}

button[type="submit"]:hover {
  background-color: #45a049; /* Darker green on hover */
}

.heading{
  margin-bottom: 10px;
  margin-left: 700px;
  width:450px;
  
}